body{
    background-color: black;
}
.container{
    text-align: center;
    margin: auto;
    background-color: #fff;
}
button{
    background-color: rgb(255, 118, 141);
}
img{
    width: 250px;
    height: 250px;
    margin: 5px;
}